@model IEnumerable<Garage2.Models.Vehicle>

@{
    ViewBag.Title = "Vehicles";
}

<h2>Vehicles</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Reg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Reg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
    </tr>
}


    

</table>
