@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <ul id="bckgrdgraphline">
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
    </ul>
    <ul id="bckgrdgraphline">
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
    </ul>
    <ul id="bckgrdgraphline">
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
        <li><img src="~/Graphics/post-74607-0-43142200-1366894842.jpg" style="width:10%; height:10%;"></li>
    </ul>

    <h1>GARAGE</h1>

    <p class="lead">Taking care of your vehicles for a long long time.</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Garage allowes you to park your vehicle for limited ammount of time.
        </p>
        <p><a class="btn btn-default" href="~/Garage/Park">Park Your Vehicle &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Unpark your vehicle</h2>
        <p>After there is no need for the Garage services, here you can take your vehicle out.</p>
        <p><a class="btn btn-default" href="" ~/Garage/Unpark">Unpark your Vehicle &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Garage Overview</h2>
        <p>Here you can search and filter Vehicle database. Recommended for Admins only.</p>
        <p><a class="btn btn-default" href="~/Garage/DisplayOverview">Overview</a></p>
    </div>
</div>